.filter-wrapper {
    background-color: white;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    .filter-tittle {
        background-color: #2a5ea5;
        padding: 15px;
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }
    >div {
        padding: 5px 20px;
        margin-bottom: 15px;
    }
    select {
        display: block;
        height: 40px;
        border: 1px solid #ddd;
        width: 100%;
        border-radius: 5px;
    }
}